[submodule "vim/plugged/nerdtree"]
	path = vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/plugged/nerdtree-git-plugin"]
	path = vim/plugged/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/plugged/vim-fugitive"]
	path = vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/plugged/vim-wakatime"]
	path = vim/plugged/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule "vim/plugged/vim-go"]
	path = vim/plugged/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/plugged/vim-airline"]
	path = vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/plugged/ale"]
	path = vim/plugged/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/plugged/onedark.vim"]
	path = vim/plugged/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim/plugged/vim-commentary"]
	path = vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/plugged/fzf"]
	path = vim/plugged/fzf
	url = https://github.com/junegunn/fzf/
[submodule "vim/plugged/fzf.vim"]
	path = vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/plugged/vim-polyglot"]
	path = vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
